<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 w3-panel w3-card">
            <br>
            <h3 align="center">Signup to continue</h3>
            <div class="wrapper">
                <div class="input-group">
                    <span class="input-group-addon" id="Firstname">Firstname</span>
                    <input ng-model="firstname" type="text" class="form-control" placeholder="Firstname" aria-describedby="Firstname">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="Lastname">Lastname</span>
                    <input ng-model="lastname" type="text" class="form-control" placeholder="Lastname" aria-describedby="Lastname">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="Email">Email</span>
                    <input ng-model="email" type="text" class="form-control" placeholder="Email" aria-describedby="Email">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="Password">Password</span>
                    <input ng-model="password" type="password" class="form-control" placeholder="Password" aria-describedby="Password">
                </div>
                <br>
                <div class="input-group btn-group btn-group-justified">
                    <a href="" class="btn btn-danger">Cancel</a>
                    <a class="btn btn-success" ng-click="doSignUp()">SignUp</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>